#Github{
    color: white;
}
#Github .stats{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Github .heading{
    font-size: 60px;
    text-align: center;
    font-weight: 700;
    font-family: Poppins, sans-serif;
    margin-bottom: 10px;
}

#Github .stats_img{
    display: flex;
    height: 100%;
    /* border: 2px solid red; */
    width: 85%;
    margin: auto;
    gap: 10px;
    margin-top: 40px;
    margin-bottom: 80px;
    justify-content: center;
}
#Github .calender_img{
    display: flex;
    height: 100%;
    /* border: 2px solid red; */
    width: 95%;
    margin: auto;
    gap: 10px;
    margin-top: 40px;
    justify-content: center;
}

#Github .calender_img img{
    width: 100%;
}
#Github .stats_img img{
    width: 50%;
}