#Contact{
    /* border: 1px solid white; */
    width: 100%;
    background-image: linear-gradient(90deg, #c010f6, #0924ef);
    padding: 50px;
    text-align: center;
}

#Contact .details{
    margin-top: 20px;
    margin-bottom: 20px;
    /* border: 1px solid red; */
    display: grid;
    gap: 20px;
    padding: 10px;
}

#Contact .sc-links{
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 50px;
}

#Contact .sc-links>div{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 5px 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: .4s ease;
}
#Contact .sc-links>div:hover{
    background-image: linear-gradient(90deg, #e07cff, #697aff);
}
