h1.heading{
    font-size: 60px;
    text-align: center;
    font-weight: 700;
    font-family: Poppins, sans-serif;
    margin-bottom: 10px;
}

p.heading.p_color{
    margin-bottom: 0;
    text-align: center;
    line-height: 1.2;
}
.col_3{
    border-radius: 10px;
    width: 100%;
    background-color: #191919;
    padding: 55px;
    transition: .4s ease;
}

.col_3:hover{
    transform: translateY(5px);
    background-image: linear-gradient(90deg, #c010f6, #0924ef);
}

.col_3:hover .icon{
    color: #fff;
}

.col_3:hover p.experience_text .p_color{
    color: #fff !important;
}

.icon {
    font-size: 54px;
    font-weight: 400;
    margin-bottom: 23px;
    display: inline-flex;
    color: #f9004d;
}

p.experience_text.p_color{
    margin-bottom: 0;
}

h1.experience_text{
    font-size: 19px;
    font-family: Poppins,sans-serif;
    padding: 0px;
}

@media only screen and (max-width:1024px){
    .col_3{
        padding: 32px;
    }
    
}

.experience .logo>img{
    width: 100%;
    border-radius: 10px;
}

.experience .icon{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
}

.experience .container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;

}

@media only screen and (max-width:1100px){
    .experience .container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media only screen and (max-width:701px){
    .experience .container{
        display: flex;
        flex-direction: column;
    }
    .experience .logo>img{
        width: 50%;
    }
    .experience .icon{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    
}
.experience .logo{
    text-align: center;
}

.duration_text{
    font-size: 16px;
    font-family: Poppins,sans-serif;
    padding: 10px 0px;
    color: #70bfff;
}